<div class="card-page">
  <div class="row">
    <div class="col-md-12">
      <div class="branchesTypes">
        <button class="btn active" (click)="goToPage(1)" [class.active]="selected == 1"> Petty Cash Expense </button>
        <button class="btn" (click)="goToPage(2)" [class.active]="selected == 2"> Petty Cash Request </button>
      </div>
    </div>

    <div class="col-md-12">
      <div class="tabcontent">
        <div class="tab-item" [hidden]="selected !=1">
          <div>
            <app-expense></app-expense>
          </div>
        </div>
        <div class="tab-item" [hidden]="selected !=2">
          <div>
            <app-requests></app-requests>
          </div>
        </div>
        <div class="tab-item"></div>
      </div>
    </div>

  </div>
</div>
