<div class="row">
  <div class="col-md-6">

    <div class="input-group search-box">
      <button class="btn" type="button" id="button-addon1" (click)="removeSearch()">
        <i class="fa-solid fa-search"></i>
      </button>
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"
             (keyup)="searchData($event)">
      <button class="btn" type="button" id="button-addon1" [hidden]="searchText.length == 0" (click)="removeSearch()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

  </div>
  <div class="col-md-6">
    <div class="top-details justify-content-end pt-3">
      <p> <span> No. Of Transactions {{totalRecordCount}}</span> </p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card-table mt-3">
      <div class="row">
        <div class="col-md-12" *ngIf="sessionCards; let sessionCards; else: loading ">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="py-2">
                  <th scope="col"> Customer </th>
                  <th scope="col"> Terminal ID </th>
                  <th scope="col"> Amount </th>
                  <th scope="col"> Invoice Number</th>
                  <th scope="col"> Bank</th>
                  <th scope="col"> Action </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of sessionCards" [class.highlight-tr]="item?.wrongActionInClosing">
                  <ng-container *ngIf="item.settleActionTaken && item.settleActionType == 'edit';else cardDetails">
                    <td> {{ item?.settleDrawerName}}</td>
                    <td> {{item?.cardTerminalId}} </td>
                    <td> {{ item?.cardCollectionJod}} JD</td>
                    <td> {{ item?.settleInvoiceNumber}}</td>
                    <td> {{ item?.settleBank[0]?.lookupName  }}</td>
                  </ng-container>
                  <ng-template #cardDetails>

                    <td> {{ item?.customer?.customerName}}</td>
                    <td> {{item?.cardTerminalId}} </td>
                    <td> {{ item?.cardCollectionJod}} JD</td>
                    <td> {{ item?.cardInvoiceNo }}</td>
                    <td> {{ item.bank[0]?.lookupName }}</td>
                  </ng-template>
                  <td>
                    <ng-container *ngIf="item.settleActionTaken;else elseBlock">
                      <button class="btn btn-undo" (click)="hadleReverseActionOnCard(item?.ordersCardsCollectionId)">
                        Undo <img src="assets/images/undo.png" alt="">
                      </button>

                      <button class="btn btn-right"
                              *ngIf="item.settleActionType == 'right'"
                              [disabled]="item.settleActionType == 'right'">
                        <i class="fa-regular fa-circle-check"></i>
                      </button>
                      <button class="btn btn-xmark"
                              *ngIf="item.settleActionType == 'wrong'"
                              [disabled]="item.settleActionType == 'wrong'">
                        <i class="fa-regular fa-circle-xmark"></i>
                      </button>
                      <button class="btn btn-edit"
                              *ngIf="item.settleActionType == 'edit'"
                              [disabled]="item.settleActionType == 'edit'">
                        <i class="fa-solid fa-pen"></i>
                      </button>
                    </ng-container>

                    <ng-template #elseBlock>
                      <button class="btn btn-right" (click)="handleActionClick('right',item?.ordersCardsCollectionId)">

                        <i class="fa-regular fa-circle-check"></i>
                      </button>
                      <button class="btn btn-xmark" (click)="handleActionClick('wrong',item?.ordersCardsCollectionId)">
                        <i class="fa-regular fa-circle-xmark"></i>
                      </button>
                      <button class="btn btn-edit" (click)="handleEditAction(content,item)">
                        <i class="fa-solid fa-pen"></i>
                      </button>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="sessionCards?.length == 0">
            <app-not-found></app-not-found>
          </div>
        </div>
        <div class="col-md-12">
          <ng-template #loading>
            <div>
              <app-loading></app-loading>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6" [hidden]="sessionCards?.length > 7">
    <h6 class="showing">
      Showing <span>
        {{( pageNo + 1 ) * 6 - 5}} - {{
 sessionCards?.length == 6 ? (( pageNo + 1 ) * 6
        ):
        totalRecordCount
        }}
      </span>
      from <span> {{totalRecordCount}} </span> data
    </h6>
  </div>
  <div class="col-md-6" [hidden]="totalRecordCount < 7">
    <ul class="pagination">
      <li class="page-item" *ngFor="let page of pages">
        <button class="page-link" (click)="setPage(page)" [ngClass]="{ active: pageNo === page }"
                [disabled]="pageNo === page">
          {{ page + 1 }}
        </button>
      </li>
    </ul>
  </div>
</div>
<ng-template #content let-modal>
  <form [formGroup]="cardForm" (submit)="handleSubmit()">
    <div class="fc-modal p-4 custom-form-input">
      <div class="modal-header p-0 flex-column align-items-start">
        <h4 class="modal-title fw-bolder pb-1" ngbAutofocus>Edit Card</h4>
        <h6 class="pb-2 fw-600">Customer Name: <span class="light-gray">{{cardDetails?.cardPayerName}}</span></h6>
      </div>
      <div class="modal-body p-0">
        <div class="row mt-3">
          <div class="col-sm-6">
            <label>Paid Amount *</label>
            <input class="form-control" formControlName="cardCollectionJod" placeholder="Paid Amount" />
          </div>
          <div class="col-sm-6">
            <label>Invoice No</label>
            <input class="form-control" formControlName="cardInvoiceNo" (keypress)="_commonService.numberOnly($event)" placeholder="Invoice No" />
            <ng-container *ngIf="f['cardInvoiceNo']?.['errors']">
              <ng-container *ngIf="f['cardInvoiceNo']?.invalid && f['cardInvoiceNo']?.touched || f['cardInvoiceNo']?.dirty">
                <span class="text-danger" *ngIf="f['cardInvoiceNo']?.errors?.['required']">Input is required</span>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <label>Terminal ID*</label>
            <input class="form-control" formControlName="lastTerminalId" placeholder="Terminal ID" />
            <ng-container *ngIf="f['astTerminalId']?.['errors']">
              <ng-container *ngIf="f['astTerminalId']?.invalid && f['astTerminalId']?.touched || f['astTerminalId']?.dirty">
                <span class="text-danger" *ngIf="f['astTerminalId']?.errors?.['required']">Input is required</span>
              </ng-container>
            </ng-container>
          </div>
          <div class="col-sm-6">
            <label>Date*</label>
            <input type="date" class="form-control" formControlName="cardDate" placeholder="Select Date" />
            <ng-container *ngIf="f['cardDate']?.['errors']">
              <ng-container *ngIf="f['cardDate']?.invalid && f['cardDate']?.touched || f['cardDate']?.dirty">
                <span class="text-danger" *ngIf="f['cardDate']?.errors?.['required']">Input is required</span>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <label>First 6 Digits of the card*</label>
            <input class="form-control" formControlName="cardFirst6Digits" placeholder="First 6 Digits" />
            <ng-container *ngIf="f['cardFirst6Digits']?.['errors']">
              <ng-container *ngIf="f['cardFirst6Digits']?.invalid && f['cardFirst6Digits']?.touched || f['cardFirst6Digits']?.dirty">
                <span class="text-danger" *ngIf="f['cardFirst6Digits']?.errors?.['required']">Input is required</span>
              </ng-container>
            </ng-container>
          </div>
          <div class="col-sm-6">
            <label>Last 4 Digits of the card*</label>
            <input class="form-control" formControlName="cardLast4Digits" placeholder="Last 4 Digits" />
            <ng-container *ngIf="f['cardLast4Digits']?.['errors']">
              <ng-container *ngIf="f['cardLast4Digits']?.invalid && f['cardLast4Digits']?.touched || f['cardLast4Digits']?.dirty">
                <span class="text-danger" *ngIf="f['cardLast4Digits']?.errors?.['required']">Input is required</span>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <label>Payer Name</label>
            <input type="text" class="form-control" (keypress)="_commonService.omitSpecialChar($event)" formControlName="cardDrawerName" placeholder="Payer Name" />
            <ng-container *ngIf="f['cardDrawerName']?.['errors']">
              <ng-container *ngIf="f['cardDrawerName']?.invalid && f['cardDrawerName']?.touched || f['cardDrawerName']?.dirty">
                <span class="text-danger" *ngIf="f['cardDrawerName']?.errors?.['required']">Input is required</span>
              </ng-container>
            </ng-container>

          </div>
          <div class="col-sm-6">
            <label>Bank</label>
            <ng-select class="flex-grow-1 mt-3 mt-md-0" formControlName="bankId" placeholder="Bank" [items]="bankList" bindLabel="name" bindValue="id">
            </ng-select>
            <ng-container *ngIf="f['bankId']?.['errors']">
              <ng-container *ngIf="f['bankId']?.invalid && f['bankId']?.touched || f['bankId']?.dirty">
                <span class="text-danger" *ngIf="f['bankId']?.errors?.['required']">Input is required</span>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-check form-check-inline">
              <input type="checkbox" (change)="handleCheckBoxChange($event)" id="samecustomer" class="form-check-input" />
              <label class="form-check-label" for="samecustomer">Same Customer</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer p-4">
      <div class="btns-group">
        <button type="button" class="btn btn-cancel" (click)="modal.close('Save click')">Cancel</button>
        <button type="submit" class="btn btn-save">Submit</button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #successModal let-modal>
  <div class="modal-body">
    <!--<h5 *ngIf="response?.Errors" class="text-danger m-0 py-5 text-center"><i class="fa-regular fa-circle-xmark me-2"></i>{{response?.Errors[0].ErrorMessageEn}}</h5>-->
    <div class="d-flex flex-column align-items-center gap-2 text-center p-3" *ngIf="editCollectionResponse?.isSuccess">
      <i class="green-clr fa-regular fa-circle-check fa-2x"></i>
      <h5>Settle successfully!</h5>
      <h6 class="m-0">
        Your settlement is completed successfully
        Then Print settlement Sheet (Needed)
      </h6>
      <div class="btns-group m-0 d-block">
        <button type="button" class="btn btn-save" (click)="modal.close('Save click')">Close</button>
      </div>
    </div>
  </div>
</ng-template>
