<div class="card-page">
  <div class="row" *ngIf="userDetails ; let userDetails; else: loading ">
    <form [formGroup]="formGroup">
      <div class="col-md-12">
        <div class="page-title">
          <h3> Account Information </h3>
        </div>
        <div class="card-form position-relative">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group overflow-hidden position-relative ">
                <label>Full Name * {{isShowFullName}}</label>
                <input type="text" class="form-control" placeholder="" formControlName="fullName" OnlyCharacter
                  required>
                <button class="btn btnEdit" type="button" (click)="editfullname()" [disabled]="formGroup.invalid">
                  <img src="assets/images/edit.png" *ngIf="isShowFullName" alt="">
                  <img src="assets/images/edit5.png" *ngIf="!isShowFullName" alt="">
                </button>
              </div>
              <div *ngIf="formValid['fullName'].invalid">
                <div class="error" *ngIf="formValid['fullName'].errors['required']"> Name is required
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group overflow-hidden position-relative">
                <label>Email*</label>
                <input type="text" class="form-control" placeholder="email" [value]="userDetails.email" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group  position-relative ">
                <label>Phone Number</label>
                <div>
                  <input type="text" class="form-control" placeholder="" ng2TelInput
                    [ng2TelInputOptions]="{'preferredCountries': ['jo', 'sa']}" formControlName="mobile" numbersOnly />
                </div>
                <button class="btn btnEdit" type="button" (click)="editfmobile()" [disabled]="formGroup.invalid">
                  <img src="assets/images/edit.png" *ngIf="isShowmobile" alt="">
                  <img src="assets/images/edit5.png" *ngIf="!isShowmobile" alt="">
                </button>
              </div>
              <!-- <div *ngIf="formValid['fullName'].invalid">
                <div class="error" *ngIf="formValid['fullName'].errors['required']"> Mobile is required
                </div>
              </div> -->
            </div>
            <div class="col-md-4">
              <div class="form-group overflow-hidden position-relative ">
                <label>Branch Name </label>
                <input type="text" class="form-control"
                  [value]="sharedService?.getRegister?.registerObj.registeBranch.branchName" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group overflow-hidden position-relative ">
                <label>Register Name </label>
                <input type="text" class="form-control" disabled
                  [value]="sharedService.getRegister?.registerObj?.registersName">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group overflow-hidden position-relative ">
                <label>Register No.</label>
                <input type="text" class="form-control" [value]="sharedService.getRegister?.registerObj?.id" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="btns-group">
          <button type="button" class="btn btn-cancel">Cancel</button>
          <button type="button" class="btn btn-save" *ngIf="!isLoading" (click)="EditUser()"> Update Profile </button>
          <button type="button" class="btn btn-save btn-load" *ngIf="isLoading" disabled><i
              class="fa-solid fa-circle-notch fa-spin"></i></button>
        </div>
      </div>
    </form>
    <div class="col-md-12">
      <div class="page-title">
        <h3> Working Hours </h3>
      </div>
      <div class="card-form position-relative">
        <div class="row" *ngFor=" let item of userDetails.userWorkingHours; let i = index;">
          <div class="col-sm-4">
            <div class="form-group day-active">
              <div class="form-check form-switch justify-content-between">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                  [checked]="item.selected" disabled>
                <label for=""> {{item.day[0]?.lookupName}} </label>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="">
              <div class="from-to-time">
                <p> From </p>
                <input type="time" name="fromTime" class="form-control" [value]="item.fromTime" disabled>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="">
              <div class="from-to-time">
                <p> To </p>
                <input type="time" name="toTime" class="form-control" [value]="item.fromTime" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="page-title">
        <h3> Contract </h3>
      </div>
      <div class="card-form position-relative">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group overflow-hidden position-relative ">
              <label>Start Date</label>
              <input type="date" class="form-control" placeholder="" disabled [value]="userDetails.contractStartDate">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group overflow-hidden position-relative ">
              <label>End Date</label>
              <input type="date" class="form-control" placeholder=" " disabled [value]="userDetails.contractEndDate">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="page-title">
        <h3> Role </h3>
      </div>
      <div class="card-form position-relative">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group overflow-hidden position-relative ">
              <input name="fullName" type="text" class="form-control" [value]="userDetails.role.name" disabled>
            </div>
          </div>

          <div class="col-md-4" style="padding-top: 15px;">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="indoor" [value]="userDetails.indoor"
                [checked]="userDetails.indoor" disabled>
              <label class="form-check-label" for="indoor"> indoor </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="outdoor" [value]="userDetails.outdoor"
                [checked]="userDetails.outdoor" disabled>
              <label class="form-check-label" for="outdoor"> outdoor </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ng-template #loading>
        <div>
          <app-loading></app-loading>
        </div>
      </ng-template>
    </div>
  </div>
</div>
