<div class="row">
  <div class="col-md-12">
    <nav aria-label="Page navigation example">
      <div class="pagination pg-blue" *ngIf="pager.pages && pager.pages.length" class="pagination">
        <!-- <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a a class="page-link" (click)="pagingClickBtn(pager.currentPage - 1)">
            < </a>
        </li> -->
        <button class="btn btn-link" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="pagingClickBtn(page)">
          {{page}}
        </button>
        <!-- <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a a class="page-link" (click)="pagingClickBtn(pager.currentPage + 1)"> > </a>
        </li> -->
      </div>
    </nav>
  </div>
</div>
