<!-- <h4>Roles</h4> -->
<div class="card-page">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title">
          <h3> Account Information </h3>
        </div>
        <div class="card-form position-relative" [class.overflow-hidden]="!isShowUserInfo  && isEdit">
          <div class="overlay-bi" *ngIf="!isShowUserInfo && isEdit"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-end align-items-center">
                <div class="form-check form-switch mb-2 mx-2">
                  <label class="labelactive">Active </label>
                  <input class="form-check-input" [(ngModel)]="isStatus" name="isStatus" type="checkbox" role="switch"
                    (change)="chooseStatus()" [ngModelOptions]="{standalone: true}"
                    [disabled]="isEdit && sharedService.getUserId == userId.toString()">
                </div>
                <div class="edit-btn float-end" *ngIf="isEdit">
                  <button class="btn" type="button" (click)="editUserInfo()" >
                    <!-- <i class="fa-solid fa-pen" *ngIf="isShowUserInfo"></i> -->
                    <img src="assets/images/save.png" *ngIf="isShowUserInfo " class="save-img" alt="">
                    <img src="assets/images/edit.png" *ngIf="!isShowUserInfo" alt="">
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group overflow-hidden position-relative ">
                <label>Full Name *</label>
                <input formControlName="fullName" name="fullName" type="text" class="form-control"
                  placeholder="Type name " required minlength="6" maxlength="30" OnlyCharacter autocomplete="off">
                <!-- (keypress)="checkSpecialChar($event)" -->
                <button class="btn btn-remove" *ngIf="formGroup.get('fullName').value" (click)="removeUserName()"><i
                    class="fa-solid fa-xmark"></i> </button>
                <div
                  *ngIf="submitted && formValid['fullName'].invalid ||  formValid['fullName'].invalid && (formValid['fullName'].dirty || formValid['fullName'].touched)"
                  class="ng-dirty">
                  <span class="error" *ngIf="formValid['fullName'].errors['required']"> This element is required,
                    please fill.</span>
                  <span *ngIf="formValid['fullName'].errors['minlength']">
                    <span class="error"> Full name length must be between 6 and 30 characters.</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group overflow-hidden position-relative">
                <label>Email*</label>
                <input type="text" formControlName="email" name="email" class="form-control" placeholder="email"
                  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{1,6}$" required autocomplete="off">
                <button class="btn btn-remove" *ngIf="formGroup.get('email').value" (click)="removeemail()"><i
                    class="fa-solid fa-xmark"></i> </button>
                <div
                  *ngIf="submitted && formValid['email'].invalid ||  formValid['email'].invalid && (formValid['email'].dirty || formValid['email'].touched)"
                  class="ng-dirty">
                  <span>
                    <span class="error" *ngIf="formValid['email'].errors['required']"> This element is required, please
                      fill.</span>
                    <span class="error" *ngIf="formValid['email'].dirty"> the email you entered is incorrect.</span>

                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group  position-relative ">
                <!-- overflow-hidden -->
                <label>Phone Number</label>
                <div>
                  <input type="text" class="form-control" formControlName="mobile" name="mobile" placeholder=""
                    ng2TelInput [ng2TelInputOptions]="{'preferredCountries': ['jo', 'sa']}" min="8" max="10"
                    minlength="8" maxlength="10" (keypress)="numberOnly($event)" />
                  <button class="btn btn-remove" *ngIf="formGroup.get('mobile').value" (click)="removephone()"><i
                      class="fa-solid fa-xmark"></i> </button>
                  <div *ngIf="formValid['mobile'].invalid && (formValid['mobile'].dirty || formValid['mobile'].touched)"
                    class="ng-dirty" [hidden]="formGroup.get('mobile').value == ''">
                    <span class="error" *ngIf="formValid['mobile'].errors['required']"> This element is required, please
                      fill.</span>
                    <span *ngIf="formValid['mobile'].errors['minlength']">
                      <span class="error">The digits are less than 10 for (mobile) and the digits are more than 8
                      </span>
                    </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="page-title">
          <h3> Branch & Location * </h3>
        </div>
        <div class="card-form position-relative" [class.overflow-hidden]="!isShowLocation && isEdit">
          <div class="overlay-bi" *ngIf="!isShowLocation && isEdit"></div>
          <div class="edit-btn float-end" *ngIf="isEdit">
            <button class="btn" type="button" (click)="editLocationInfo()" [disabled]="formGroup.invalid">
              <!-- <i class="fa-solid fa-pen" *ngIf="isShowLocation"></i> -->
              <img src="assets/images/save.png" *ngIf="isShowLocation" alt="" class="save-img">
              <img src="assets/images/edit.png" *ngIf="!isShowLocation" alt="">
            </button>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Location " City " </label>
                <ng-select name="city" id="city" placeholder="Select" [items]="locations" formControlName="city"
                  required (change)="chooseCity($event)" (clear)="getbranchList($event)">
                  <ng-template ng-label-tmp let-item="item">
                    {{item}}
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="(submitted && formValid['city'].invalid ) || formValid['city'].invalid   && (formValid['city'].dirty || formValid['city'].touched)"
                  class="ng-dirty">
                  <span class="error" *ngIf="formValid['city'].errors['required']"> This element is required,
                    please fill.</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group  ">
                <label> Branch</label>
                <ng-select name="branchId" id="branchId" placeholder="Select" [items]="branches" bindLabel="branchName"
                  bindValue="branchId" formControlName="branchId" required (change)="getBranchDetails($event)"
                  (clear)="clearBranchData($event)">
                </ng-select>

                <!-- <div *ngIf=" submitted &&  formGroup.get('branchId').value == 0">
                  <span class="error">This element is required, please fill</span>
                </div> -->
                <div
                  *ngIf="(submitted && formValid['branchId'].invalid ) || formValid['branchId'].invalid   && (formValid['branchId'].dirty || formValid['branchId'].touched)"
                  class="ng-dirty">
                  <span *ngIf="formValid['branchId'].errors">
                  </span>
                  <span class="error" *ngIf="formValid['branchId'].errors['required']"> This element is required,
                    please fill.</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="page-title">
          <h3>Working Hours</h3>
        </div>
        <div class="card-form position-relative" [class.overflow-hidden]="!isShowWorkingHoursn && isEdit">
          <div class="overlay-bi" *ngIf="!isShowWorkingHoursn && isEdit"></div>
          <div class="edit-btn float-end" *ngIf="isEdit">
            <button class="btn" type="button" (click)="editWorkingHoursInfo()" [disabled]="formGroup.invalid">
              <!-- <i class="fa-solid fa-pen" *ngIf="isShowWorkingHoursn"></i> -->
              <img src="assets/images/save.png" *ngIf="isShowWorkingHoursn" alt="" class="save-img">
              <img src="assets/images/edit.png" *ngIf="!isShowWorkingHoursn" alt="">
            </button>
          </div>
          <div class="">
            <div class="form-check mb-2">
              <!-- <label class="form-check-label" for="flexCheckDefault"> Apply All </label> -->
              <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="applyAllTime()"> -->
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="day-active mt-0 mb-2">
                  <h6> Days </h6>
                </div>
              </div>
              <div class="col-md-4">
                <h6 class="px-2 mb-2"> Hours</h6>
              </div>
              <div class="col-md-4">
              </div>
            </div>
            <div class="col-md-12">
              <!-- <h1 *ngIf="formGroup.get('userWorkingHours').value.length == 0">no found </h1> -->

              <!-- <h6 *ngIf="userWorkingHours.length == 0" class="text-center py-3"> No Found Working Hours Branch </h6>
              <hr *ngIf="userWorkingHours.length == 0"> -->
            </div>
            <div formArrayName="userWorkingHours" *ngFor="let item of userWorkingHours.controls; let i=index">
              <div class="row" [formGroupName]="i">
                <div class="col-sm-4">
                  <div class="form-group day-active">
                    <div class="form-check form-switch justify-content-between">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        formControlName="selected" (change)="chooseTime(item.value.selected,i)">
                      <label for=""> {{item.value.dayName}} </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="">
                    <div class="from-to-time">
                      <p> From </p>
                      <input type="time" formControlName="fromTime" name="fromTime" class="form-control" placeholder=""
                        [disabled]="item.value.selected">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="">
                    <div class="from-to-time">
                      <p> To </p>
                      <input type="time" formControlName="toTime" name="toTime" class="form-control " placeholder="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <h6>Contract </h6>
            </div>
            <div class="col-md-4">
              <div class="form-group overflow-hidden position-relative ">
                <label>Start Date</label>
                <input formControlName="contractStartDate" name="contractStartDate" type="date" class="form-control"
                  placeholder="Type name ">
                <div
                  *ngIf="formValid['contractStartDate'].invalid ||  formValid['contractStartDate'].invalid && (formValid['contractStartDate'].dirty || formValid['contractStartDate'].touched)"
                  class="ng-dirty">
                  <span *ngIf="formValid['contractStartDate'].errors">
                  </span>
                  <span class="error" *ngIf="formValid['contractStartDate'].errors['required']"> This element is
                    required,
                    please fill.</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group overflow-hidden position-relative ">
                <label> End Date </label>
                <input formControlName="contractEndDate" name="contractEndDate" type="date" class="form-control"
                  placeholder="Type name " [min]="formGroup.get('contractStartDate').value">
                <!-- min="formGroup.get('contractStartDate').value" -->
                <div
                  *ngIf="formValid['contractEndDate'].invalid ||  formValid['contractEndDate'].invalid && (formValid['contractEndDate'].dirty || formValid['contractStartDate'].touched)"
                  class="ng-dirty">
                  <span *ngIf="formValid['contractEndDate'].errors">
                  </span>
                  <span class="error" *ngIf="formValid['contractEndDate'].errors['required']"> This element is
                    required,
                    please fill.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="page-title">
          <h3> Role </h3>
        </div>
        <div class="card-form position-relative" [class.overflow-hidden]="!isShowRolesPErmission && isEdit">
          <div class="overlay-bi" *ngIf="!isShowRolesPErmission && isEdit"></div>
          <div class="edit-btn float-end" *ngIf="isEdit">
            <button class="btn" type="button" (click)="editRolesPErmission()" [disabled]="formGroup.invalid">
              <img src="assets/images/save.png" *ngIf="isShowRolesPErmission" alt="" class="save-img">
              <img src="assets/images/edit.png" *ngIf="!isShowRolesPErmission" alt="">
            </button>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Role * </label>
                <ng-select name="roleId" id="roleId" placeholder="Type name" [items]="rolesList"
                  formControlName="roleId" bindLabel="name" bindValue="roleId" required
                  (change)="getRoleDetails($event)">
                </ng-select>
                <!-- <div *ngIf=" submitted &&  formGroup.get('roleId').value == 0">
                  <span class="error">This element is required, please fill</span>
                </div> -->
                <div
                  *ngIf="submitted && formValid['roleId'].invalid ||  formValid['roleId'].invalid && (formValid['roleId'].dirty || formValid['roleId'].touched)"
                  class="ng-dirty">
                  <span class="error" *ngIf="formValid['roleId'].errors['required']"> This element is required,
                    please fill.</span>
                </div>
              </div>
            </div>

            <div class="col-md-4" style="padding-top: 45px;">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="indoor" value="indoor" formControlName="indoor">
                <label class="form-check-label" for="indoor"> indoor </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="outdoor" value="outdoor" formControlName="outdoor">
                <label class="form-check-label" for="outdoor"> outdoor </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="page-title mb-2">
          <h3> User Permissions </h3>
        </div>
        <div class="main-category mt-0" *ngFor="let category of roles; let i = index;">

          <div class="cat-head">
            <h3>{{category.perCatName}} </h3>
            <button type="button" class="btn btn-book" (click)="collapseList(category,i)">
              <i *ngIf="i!=ExpandRow" class="fa-solid fa-chevron-down"></i>
              <i *ngIf="i==ExpandRow" class="fa-solid fa-chevron-up"></i></button>
          </div>
          <div class="bodyroles" *ngIf="i==ExpandRow ">
            <!-- || isEdit == true -->
            <hr>
            <div class="overlay-ba" *ngIf="i != catRow && isEdit"></div>
            <!-- <div class="overlay-ba" *ngIf="!isShowpermisionsRoles && isEdit"></div> -->
            <div class="edit-btn float-end" *ngIf="isEdit">
              <!-- && catNo == i -->
              <button class="btn" type="button" (click)="editrolesList(i)">
                <!-- <i class="fa-solid fa-pen" *ngIf="isShowpermisionsRoles"></i> -->
                <img src="assets/images/save.png" *ngIf="isShowpermisionsRoles && catRow == i" class="save-img" alt="">
                <img src="assets/images/edit.png" *ngIf="!isShowpermisionsRoles || catRow != i" alt="">
              </button>
            </div>
            <div class="cat-list" *ngFor="let item of category.permissionSubCategories">
              <div>
                <h4> {{item.perSubCatName}} </h4>
              </div>
              <div *ngFor="let  sub of item.permissionItems">
                <div class="cat-sub">
                  <div class="form-check form-check-inline"
                    *ngIf="sub.perItemName == 'View Only' || sub.perItemName == 'View & Edit'">
                    <input class="form-check-input" type="checkbox" id="{{sub.permissionItemId}}"
                      [value]="sub.permissionItemId" (change)="pushPermissionItemId($event,item,sub)"
                      [checked]="isChecked(sub.permissionItemId)">
                    <label class="form-check-label" [for]="sub.permissionItemId">
                      {{sub.perItemName}} </label>
                  </div>
                  <!-- [checked]="sub.selected"  -->
                  <!-- [checked]="rolePermissions.includes(sub.permissionItemId) == true"  -->
                  <div class="form-check form-check-inline" *ngIf="sub.perItemName == 'Yes' || sub.perItemName == 'No'">
                    <input class="form-check-input" type="radio" name="{{ item.permissionSubCatId}}"
                      id="{{sub.permissionItemId}}" [value]="sub.permissionItemId"
                      (change)="pushPermissionItemId($event,item,sub)" [checked]="isChecked(sub.permissionItemId)">
                    <label class="form-check-label" for="{{sub.permissionItemId}}">
                      {{sub.perItemName}}
                    </label>
                  </div>

                </div>
                <div class="sub-details">
                  <!-- [checked]="details.selected" -->

                  <div class="form-check form-check-inline" *ngFor="let details of sub.permissionItemDetails">
                    <input class="form-check-input" type="checkbox" [value]="details.permissionItemDetailsId"
                      id="d-{{details.permissionItemDetailsId}}"
                      (change)="pushPermissionItemDetailId($event,details.permissionItemId, sub)"
                      [checked]="isChecked(sub.permissionItemId)"
                      [disabled]="details.permissionItemId == sub.permissionItemId && !isChecked(sub.permissionItemId) ">
                    <label class="form-check-label" for="d-{{details.permissionItemDetailsId}}">
                      {{details.perItemDetailsName}}
                    </label>
                    <!-- [disabled]="details.permissionItemId == sub.permissionItemId &&  sub.permissionItemId == false" -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert" *ngIf="errorsList">
          <ul>
            <li *ngFor="let item of errorsList">{{item.ErrorMessageEn}} </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="btns-group">
          <button type="button" class="btn btn-cancel">Cancel</button>
          <button type="submit" class="btn btn-save" *ngIf="!isLoading"> {{!isEdit ? 'Add' : 'Save'}} </button>
          <button type="button" class="btn btn-save btn-load" *ngIf="isLoading" disabled><i
              class="fa-solid fa-circle-notch fa-spin"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>
