.modal-body {
  padding: 20px;
}
.card-form {
  background: #ffffff;
  border: 0px solid #c4cdd5;
  box-shadow: none;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
}
.card-page {
  padding: 30px;
}
.modal-head {
  margin-bottom: 15px;
  border-bottom: 1px solid #c4cdd5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-weight: 600;
    font-size: 22px;
    color: #1b212d;
    padding: 5px 0 15px;
    margin: 0px;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    color: #1b212d;
    span {
      color: #929eae;
    }
  }
  .info {
    margin-top: -5px;
    .invoic {
      color: #dc3545;
      margin: 0px;
    }
    p {
      color: #929eae;
      font-weight: 500;
      padding: 1px;
      b {
        color: #1b212d;
      }
    }
  }
}
textarea {
  height: 80px !important;
}

.card-upload {
  border: 1px dashed #939aa8;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  img {
    width: 60px;
    margin-bottom: 15px;
  }
  h5 {
    font-weight: 600;
    font-size: 18px;
    color: #0f0f0f;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #676767;
  }
}
.btn-upload {
  background: #dc3545;
  color: #fff;
  border-radius: 10px;
  padding: 12px 35px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}

.card-img {
  img {
    width: 100%;
    border-radius: 8px;
    margin: 0px;
  }
}
.overlay-bi {
  position: absolute;
  background-color: rgb(199 199 199 / 21%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.card-form .edit-btn {
  margin: -30px 0 0 0;
  z-index: 5;
  position: relative;
  .btn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
  }
}

.uploadedfile {
  border: 1px solid #11af22;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    background: #fff3f3;
    border-radius: 50%;
    margin: 0px 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 15px;
    }
  }
  p {
    font-size: 14px;
    padding: 10px;
    color: #696969;
    margin: 0px;
    cursor: pointer;
  }
}
.uplod {
  font-size: 14px;
  font-weight: 500;
  color: #676767;
}
.save-img {
  width: 22px !important;
}
.fileView {
  img {
    width: 100%;
    margin-bottom: 15px;
  }
}

.btn:disabled,
.btn.disabled {
  background: #f1f3f3 !important;
  color: #9b9b9b !important;
  border: 1px solid #f1f3f3;
  cursor: initial;
}

.card-form .form-group {
  margin-bottom: 15px;
}
.progress-bar {
  background-color: #dc3545;
}

.card-sm {
  margin: 10px 0px;

  h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1b212d;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    color: #929eae;
  }
  .note {
    background-color: #f0f0f0;
    height: 120px;
    border-radius: 6px;
    margin: 5px 0px;
    word-break: break-all;
    p {
      font-size: 14px;
      font-weight: 600;
      color: #333;
      padding: 10px;
    }
  }
}
.fview {
  background: #fff !important;
  border-radius: 50%;
  margin: 0px 5px;
  width: 30px;
  height: 30px;
  img {
    width: 20px !important;
  }
}
.tackaction {
  background-color: #f0f0f0;
  border-radius: 6px;
  margin: 5px 0px;
  padding: 20px;
  p {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 10px;
  }
}
.message {
  padding: 10px;
  text-align: center;
  h5 {
    font-weight: 700;
    font-size: 18px;
    color: #1b212d;
    margin: 0px;
    padding: 20px;
  }
  .fa-circle-check{
    color: #25BB00;
    font-size: 28px;
    vertical-align: middle;
    margin: 2px 10px 5px;
  }
}
.error {
  font-size: 14px;
  color: #f44336;
  font-weight: 500;
  padding: 7px;
  display: block;
}
.padding-right{
  padding-right: 36px;
}
