
.tab-nav {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;

  .btn.active {
    border: 1px solid #dc3545;
    box-shadow: 0px 15px 25px rgb(0 0 0 / 10%);
  }

  .btn {
    border: 1px solid #ced5dd;
    border-radius: 10px;
    padding: 15px 20px;

    .imag {
      width: 55px;
      height: 55px;
      background: #f8f8f8;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      img {
        width: 100%;
      }
    }

    .info {
      text-align: start;

      p {
        margin: 0px;
        font-size: 14px;
        font-weight: 500;
        padding: 3px;
      }

      h5 {
        font-size: 16px;
        font-weight: 600;
        margin: 0px;
        padding: 3px;
      }
    }
  }
}

.actual-amount {
  .form-control {
    width: 130px;
  }
}

.error {
  color: #f44336;
  font-size: 14px;
  padding: 5px;
  display: block;
  font-weight: 500;
}

.nosession {
  text-align: center;
  padding: 60px 30px;
}
