<!-- <div class="modal-header">
  <h4 class="modal-title"> Confirm </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div> -->
<div class="modal-body">
  <div class="message">
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
    <h4> Are you sure you want to Logout </h4>
  </div>
</div>
<div class="modal-footer text-center">
  <button type="button" class="btn" (click)="confirm()">Yes</button>
  <button type="button" class="btn " (click)="activeModal.close('Close click')">No</button>
</div>
