.card-form {
  background: #ffffff;
  border: 0px solid #c4cdd5;
  box-shadow: none;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
  label {
    font-size: 16px;
  }
}
.btn-trash {
  img {
    width: 25px;
  }
}
