<div class="page-login">
  <div class="container-fluid px-0 mx-0">
    <div class="row px-0 mx-0">
      <div class="col-md-6 col-sm-12 px-0 mx-0">
        <div class="card-login">
          <img src="assets/images/markazia.png" alt="logo">
          <div class="log-text">
            <h3>Reset Password</h3>
            <p>Choose a new password for your account.</p>
          </div>
          <div *ngIf="!isLinkExpire">
            <form [formGroup]="formData" (ngSubmit)="submit()">

              <div class="form-group">
                <label>Password</label>
                <div>
                  <input [type]="IsshowPassword ? 'text' : 'password'" formControlName="password" nsme="password"
                    class="form-control" placeholder="Enter your new password" required min="8" max="16" minlength="8"
                    maxlength="16" autocomplete="off">
                  <div class="passicon">
                    <fa-icon (click)="showPassword()" *ngIf="!IsshowPassword" class="custom-search-botton"
                      [icon]="faEye"></fa-icon>
                    <fa-icon (click)="showPassword()" *ngIf="IsshowPassword" class="custom-search-botton"
                      [icon]="faEyeSlash"></fa-icon>
                  </div>
                </div>
                <div
                  *ngIf="submitted && formValid['password'].invalid ||  formValid['password'].invalid && (formValid['password'].dirty || formValid['password'].touched)"
                  class="ng-dirty">
                  <span class="error" *ngIf="formValid['password'].errors['required']"> This element is required,
                    please fill.</span>
                  <div *ngIf="formValid['password'].errors['minlength']">
                    <span class="error">Password cannot be less than 8 characters </span>
                  </div>
                </div>
                <!-- <h1> {{formGroup.get('Password').value.length}} </h1> -->
                <div [hidden]="formData.get('password').value.length < 5">
                  <span class="error" *ngIf="formData.get('password').hasError('strong')">
                    Password should contain a minimum combination of 1 uppercase letter, 1 lowercase letter, 1 number,
                    and
                    1 symbol</span>
                </div>
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
              </div>
              <div>
                <button type="submit" class="btn btn-login">Reset Password</button>
              </div>
            </form>
          </div>
          <div *ngIf="isLinkExpire">
            <br>
            <h3 class="text-center">
              Linked Expired
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 px-0 mx-0">
        <div class="bg-image">
          <img src="assets/images/loginLogo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
