<div *ngIf="!viewData" class="card-Box">
  <!-- head -->
  <!-- first section -->
  <div class="flex-between">
    <div class="headingText">Deposit Cheque</div>
    <!-- <div
      class="headButton"
      [ngStyle]="{
        'background-color': depositeAmount?.statusObj?.lookupBGColor,
        color: depositeAmount?.statusObj?.lookupTextColor
      }"
    >
      <span class="headButtonText">{{
        depositeAmount?.statusObj?.translations[0]?.lookupName
      }}</span>
    </div> -->
  </div>

  <div class="separator"></div>

  <!-- second section -->

  <div class="flex-start" style="margin-top: 25px">
    <!-- created details -->

    <div class="flex-column">
      <div class="mdtext">Account Name</div>
      <div class="smText">{{ depositeAmount?.sageBank?.accountName }}</div>
    </div>
    <!-- created by -->
    <div class="flex-column">
      <div class="mdtext">Account Name</div>
      <div class="smText">Cheque</div>
    </div>

    <div class="flex-column">
      <div class="mdtext">Account No.</div>
      <div class="smText">{{ depositeAmount?.sageBank?.accountNo }}</div>
    </div>
    <!--  order No -->

    <!-- veiw Details -->
  </div>

  <div class="separator"></div>

  <!-- third Section -->

  <div *ngIf="!viewData" class="flex-between" style="margin-top: 25px">
    <!-- grand amount -->
    <div class="flex-between" style="gap: 15px">
      <div class="mdtext">Grand Amount</div>
      <div class="amountButton mdtext">
        {{ depositeAmount?.distributedAmount + " " + "JD" }}
      </div>
    </div>

    <!-- deposit amounts -->
    <div class="flex-between" style="gap: 15px">
      <div class="mdtext">Deposit Amounts</div>
      <div class="amountButton mdtext">
        {{ depositeAmount?.depositAmount + " " + "JD" }}
      </div>
    </div>

    <!-- difference amounts -->
    <div class="flex-between" style="gap: 15px">
      <div class="mdtext">Difference</div>
      <div class="amountButton mdtext">
        {{
          depositeAmount?.distributedAmount -
            depositeAmount?.depositAmount +
            " " +
            "JD"
        }}
      </div>
    </div>
  </div>
</div>

<!-- for view -->
<div *ngIf="viewData" class="card-Box">
  <!-- head -->
  <!-- first section -->
  <div class="flex-between">
    <div class="headingText">Deposit Cheque</div>
    <div class="flex-column">
      <div class="flex-end">
        <div class="mdtext">Date</div>
        <div class="smText">30 Mar 2023</div>
      </div>
      <div class="flex-end">
        <div class="mdtext">Time</div>
        <div class="smText">9:30</div>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <!-- second section -->

  <div class="flex-start" style="margin-top: 25px">
    <!-- created details -->

    <div class="flex-column">
      <div class="mdtext">Deposit Id</div>
      <div class="smText">{{ depositeAmount?.sageBank?.accountName }}</div>
    </div>
    <!-- created by -->
    <div class="flex-column">
      <div class="mdtext">Branch Name</div>
      <div class="smText">Al-Byader</div>
    </div>

    <div class="flex-column">
      <div class="mdtext">Register Name</div>
      <div class="smText">Murad</div>
    </div>
    <!--  order No -->

    <div class="flex-column">
      <div class="mdtext">Register No.</div>
      <div class="smText">{{ depositeAmount?.sageBank?.accountNo }}</div>
    </div>

    <div class="flex-column">
      <div class="mdtext">Employee</div>
      <div class="smText">Sami Ali</div>
    </div>
    <!-- veiw Details -->
  </div>

  <div class="separator"></div>

  <!-- third Section -->
  <div class="flex-start" style="margin-top: 25px">
    <!-- created details -->

    <div class="flex-column">
      <div class="mdtext">Account Name</div>
      <div class="smText">{{ depositeAmount?.sageBank?.accountName }}</div>
    </div>
    <!-- created by -->
    <div class="flex-column">
      <div class="mdtext">Account No.</div>
      <div class="smText">123456</div>
    </div>

    <div class="flex-column">
      <div class="mdtext">Currency</div>
      <div class="smText">USD</div>
    </div>
    <!--  order No -->

    <!-- veiw Details -->
  </div>
</div>

<!-- input search box -->
<div class="row applyMargin">
  <div class="col-md-5">
    <div class="input-group search-box">
      <button
        class="btn"
        type="button"
        id="button-addon1"
        (click)="removeSearch()"
      >
        <i class="fa-solid fa-search"></i>
      </button>
      <input
        type="text"
        class="form-control"
        placeholder="Bank or order no. grand amount"
        [(ngModel)]="searchText"
      />
      <button
        class="btn"
        type="button"
        id="button-addon1"
        [hidden]="searchText.length == 0"
        (click)="removeSearch()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-2 d-flex justify-content-end btnadd"></div>

  <div class="col-md-6"></div>
  <div class="col-md-6 text-end">
    <div class="total">
      <p>Total No. {{ totalRecords }}</p>
    </div>
  </div>
</div>

<!-- table -->

<!-- table -->
<div class="row" *ngIf="!viewData">
  <div class="col-md-12" *ngIf="dummyData; let dummyData; else: loading">
    <div class="card-table mt-2">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Customer
                </button>
              </th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Cheque No.
                </button>
              </th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Bank
                </button>
              </th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Date
                </button>
              </th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Amount
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dummyData">
              <td>
                <input type="checkbox" class="inputColor" />
              </td>
              <td>{{ item.customer }}</td>
              <td>{{ item.ChequeNo }}</td>
              <td>{{ item.Bank }}</td>
              <td>{{ item.Date }}</td>
              <td>{{ item.Amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="not-found" *ngIf="dummyData?.length == 0">
        <app-not-found></app-not-found>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <ng-template #loading>
      <div>
        <app-loading></app-loading>
      </div>
    </ng-template>
  </div>
</div>

<!-- view Table -->
<div class="row" *ngIf="viewData">
  <div class="col-md-12" *ngIf="dummyData; let dummyData; else: loading">
    <div class="card-table mt-2">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Customer
                </button>
              </th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Cheque No.
                </button>
              </th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Bank
                </button>
              </th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Date
                </button>
              </th>
              <th scope="col">
                <button class="btn" [disabled]="dummyData?.length == 0">
                  Amount
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dummyData">
              <td>
                <input type="checkbox" class="inputColor" />
              </td>
              <td>{{ item.customer }}</td>
              <td>{{ item.ChequeNo }}</td>
              <td>{{ item.Bank }}</td>
              <td>{{ item.Date }}</td>
              <td>{{ item.Amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="not-found" *ngIf="dummyData?.length == 0">
        <app-not-found></app-not-found>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <ng-template #loading>
      <div>
        <app-loading></app-loading>
      </div>
    </ng-template>
  </div>
</div>
<!-- attachment -->

<div class="card-Box">
  <!-- head -->
  <div class="mdtext">Notes</div>
  <div>
    <input type="text" class="textArea" />
  </div>
  <!-- attachment -->

  <ng-container>
    <div class="row" *ngIf="isShowToUplaod" style="margin-top: 25px">
      <div class="col-md-7">
        <div class="form-group mb-3">
          <label class="mdtext"> Attachment (Upload Bank Voucher) </label>
          <div
            class="card-upload my-3"
            appImageDrag
            (files)="filesDropped($event)"
            (enter)="enter = !enter"
            (leave)="enter = !enter"
            accept=".png,.jpg,.jpeg,.pdf"
            (click)="fileUpload.click()"
          >
            <div class="my-3">
              <img src="assets/images/upload.png" alt="" />
              <h5>Drag & drop files</h5>
              <p>Supported formates: JPEG, PNG, PDF</p>
            </div>
          </div>
          <input
            type="file"
            class="form-control"
            accept=".png,.jpg,.jpeg,.pdf"
            (change)="onSelectFile($event)"
            #fileUpload
            id="uploadFile"
            hidden
          />
        </div>
      </div>

      <div class="col-md-5"></div>
      <div class="col-md-6" *ngIf="fileName">
        <div class="form-group mb-3"></div>
        <div class="card-upload" *ngIf="isViewFile">
          <div class="card-img">
            <img [src]="filePath" />
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-8" *ngIf="fileName">
        <div class="uploadedfile">
          <p (click)="openMdalImage()">{{ fileName }}</p>
          <div class="d-flex">
            <button class="btn fview" type="button" (click)="openMdalImage()">
              <img src="assets/images/eye.png" alt="" />
            </button>
            <button type="button" class="btn" (click)="removeImageName()">
              <img src="assets/images/trash.png" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!isShowToUplaod">
      <!-- && this.expenseDetails?.files.length != -->
      <div class="col-md-8">
        <div class="form-group mb-3">
          <label class="mdtext"> Attachment </label>
          <br />
          <p class="smText">Deposit Check Voucher</p>
          <!-- <p class="uplod">Uploading files</p> -->
        </div>

        <div class="fileView" *ngIf="isViewFile">
          <!-- <img [src]="expenseDetails?.files[0]?.attachmentPath" alt="" /> -->
        </div>
        <div class="uploadedfile">
          <p (click)="openMdalImageView()">Receipts -</p>
          <div class="d-flex">
            <button
              class="btn fview"
              type="button"
              (click)="openMdalImageView()"
            >
              <img src="assets/images/eye.png" alt="" />
            </button>
            <button class="btn" type="button" (click)="removeImg()">
              <img src="assets/images/trash.png" alt="" />
            </button>
          </div>
        </div>
      </div>

      <!-- <div class="form-group" *ngIf="progress > 0">
    <h3>{{ progress }} %</h3>
    <div class="progress form-group">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        [style.width.%]="progress"></div>
    </div>
  </div> -->
    </div>

    <!-- <div *ngIf="isLoadingView">
      <div class="my-3 py-3">
        <app-loading></app-loading>
      </div>
    </div> -->
  </ng-container>
</div>

<div *ngIf="!viewData" class="flex-end" style="margin-top: 24px">
  <div class="btns-group my-2 mx-0">
    <button
      type="button"
      class="btn btn-cancel"
      [routerLink]="'/mainFund-allocation'"
    >
      Cancel
    </button>
  </div>
  <div class="btns-group my-2 mx-0">
    <button type="submit" class="btn btn-save" *ngIf="!isLoading">Save</button>
  </div>
</div>

<div *ngIf="viewData" class="flex-end" style="margin-top: 24px">
  <div class="btns-group my-2 mx-0"></div>
  <div class="btns-group my-2 mx-0">
    <button
      [routerLink]="'/mainFund-allocation'"
      type="submit"
      class="btn btn-save"
      *ngIf="!isLoading"
    >
      Close
    </button>
  </div>
</div>
