<div class="page-login">
  <div class="container-fluid px-0 mx-0">
    <div class="row px-0 mx-0">
      <div class="col-md-6 col-sm-12 px-0 mx-0">
        <div class="card-login " *ngIf="!isCheckMail">
          <img src="assets/images/markazia.png" alt="logo">
          <div class="log-text">
            <h3>Forgot Password</h3>
            <p>Enter the email you used to create your <br>
              account so we can send you instructions on <br>
              how to reset your password.</p>
          </div>
          <form [formGroup]="authForm" (ngSubmit)="submit()">
            <div class="form-group">
              <label>Email </label>
              <div>
                <input type="text" formControlName="email" name="email" placeholder="example@markazia.jo"
                  class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,3}$" required />
                <div
                  *ngIf="submitted && formValid['email'].invalid && (formValid['email'].dirty || formValid['email'].touched)"
                  class="ng-dirty">
                  <span class="error" *ngIf="formValid['email'].errors['required']">
                    This element is required, please fill.</span>
                  <span [hidden]="authForm.get('email').value == ''">
                    <span class="error" *ngIf="formValid['email'].errors"> the email you entered is incorrect.</span>
                  </span>
                </div>
              </div>

            </div>

            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
              {{errorMessage}}
            </div>

            <div>
              <button type="submit" class="btn btn-login" *ngIf="!isLoading">Send</button>
              <button type="button" class="btn btn-login" *ngIf="isLoading" disabled><i
                class="fa-solid fa-circle-notch fa-spin"></i></button>
            </div>

            <div>
              <button type="button" class="btn btn-back" routerLink="/login"> <i
                  class="fa-solid fa-arrow-left-long px-2"></i> Back
              </button>
            </div>
          </form>
        </div>
        <div class="card-login " *ngIf="isCheckMail">
          <img src="assets/images/markazia.png" alt="logo">
          <div class="log-text">
            <h3>Check your Email</h3>
            <p>Please check the email address
              {{starEmail}} for instructions to reset
              your password.</p>
            <p> Didn't receive the email? Check spam </p>
          </div>

          <div class="or-line">
            <h6> OR </h6>
          </div>

          <div>
            <button type="button" (click)="submit()" *ngIf="!isLoading" class="btn btn-login"
              [disabled]="!isResendActive">
              Resend Email
            </button>
          </div>
          <button type="button" class="btn btn-login" *ngIf="isLoading" disabled><i
              class="fa-solid fa-circle-notch fa-spin"></i></button>

          <div class="seconds">
            <h4> Resend Again within <span>{{seconds60}}</span> </h4>
          </div>
          <div>
            <button type="button" class="btn btn-back" routerLink="/login"> <i
                class="fa-solid fa-arrow-left-long px-2"></i> Back
            </button>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-sm-12 px-0 mx-0">
        <div class="bg-image">
          <img src="assets/images/loginLogo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
