

.seconds{
  span{
    color: #dc3545;
  }
}
.btn-login.btn.disabled,
.btn-login.btn:disabled {
  background: #bbbbbc !important;
  color: #fff !important;
  border: 1px solid #f1f3f3;
  cursor: initial;
}
