.message {
  text-align: center;
  padding: 50px;
  i {
    font-size: 90px;
    color: #75b878;
    margin-bottom: 30px;
  }
}
.modal-footer {
  display: flex;
  justify-content: center;
  .btn {
    border: 1px solid #ddd;
    width: 120px;
    border-radius: 30px;
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }
}
