.applyMargin {
  margin-top: 2.5rem;
}
.total {
  h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 0px;
    padding: 10px 0px;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #929eae;
    margin: 0px;
    padding: 10px 0px;
  }
}
.card-table {
  border: 0.5px solid #f4f4f4;
  box-shadow: 3px 7px 12px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 3px 7px 12px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 3px 7px 12px 0px rgba(0, 0, 0, 0.18);
}
.btn-provide {
  background-color: #dc3545;
  color: white;
  outline: none;
  border: none;
  padding: 8px 14px 8px 14px;
  border-radius: 4px;
  font-size: 12px;
}
.btn-disabled {
  background-color: #c5c6c7;
  color: white;
  outline: none;
  border: none;
  padding: 8px 14px 8px 14px;
  border-radius: 4px;
  font-size: 12px;
}
.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}
.play-left {
  color: #eceaea;
  transform: rotate(180deg);
  margin-right: 5px;
}
.play-right {
  color: #eceaea;
}

//////////////////////////////////////////////

.card-Box {
  background: #ffffff;
  border: 0.5px solid #f5f5f5;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 24px 34px;
}
.card1 {
  box-sizing: border-box;
  padding: 23px 40px;
  flex-grow: 0.3;

  background: #f8f8f8;
  border: 0.5px solid #f5f5f5;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card2 {
  box-sizing: border-box;
  padding: 23px 40px;
  flex-grow: 1;
  background: #ffffff;
  border: 0.5px solid #f5f5f5;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.greyBox {
  width: 50%;
  height: 89.5px;
  padding: 11px 14px;
  background-color: #e0e0e0;
  border-radius: 8px;
}
.profile {
  width: 70.03px;
  height: 70.03px;
  border-radius: 50%;
  background: #49a1bb;
  display: flex;
  justify-content: center;

  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-two {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}
.headingText {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  /* Text Color/Text 1 */

  color: #1b212d;
}
.mdtext {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;

  /* Text Color/Text 1 */

  color: #1b212d;
}
.smText {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  /* Text Color/Text 1 */

  color: #858585;
}
.linkText {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4e9aff;
}
.linkText2 {
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #4e9aff;
}
.headButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 34.2px;

  border-radius: 8px;
}
.headButtonText {
  font-family: Kumbh Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.separator {
  border: 1px solid #e9e9e9;
  margin-top: 22px;
}
.separator2 {
  border: 0.5px solid #e9e9e9;
  margin-top: 12px;
  margin-bottom: 12px;
}
.flex-column {
  display: block;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.amountButton {
  /* Preview */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 34px 14px 35px;
  gap: 10px;

  width: 140px;
  height: 48px;

  /* Gray/Gray 2 */

  background: #f8f8f8;
  border: 0.5px solid #e9e9e9;
  border-radius: 10px;
}
.statusButton {
  width: 95px;
  height: 34.2px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff3db;
  border-radius: 8px;
}
.depositeButton {
  width: 95px;
  height: 34.2px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #dc3545;
  border-radius: 8px;
}
.depositeText {
  font-family: Kumbh Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.btn-edit {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  cursor: pointer;
  color: #4e9aff;
}
.dropdownButton {
  height: 48px;
  width: 150px;
  background: #dc3545;
  border-radius: 8px;
  color: white;
  outline: none;
  border: none;
}
