.modal-body {
  padding: 20px;
}

.modal-head {
  margin-bottom: 15px;
  border-bottom: 1px solid #c4cdd5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-weight: 600;
    font-size: 18px;
    color: #1b212d;
    padding: 5px 0 15px;
    margin: 0px;
  }
}

.card-sm {
  margin: 10px 0px;
  h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1b212d;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    color: #929eae;
  }
  .note {
    background-color: #f0f0f0;
    height: 120px;
    border-radius: 6px;
    margin: 5px 0px;
    p {
      font-size: 14px;
      font-weight: 600;
      color: #333;
      padding: 10px;
    }
  }
}
label {
  font-weight: 600;
  font-size: 16px;
  padding: 5px 0px;
}

.message {
  padding: 10px;
  text-align: center;
  h5 {
    font-weight: 700;
    font-size: 18px;
    color: #1b212d;
    margin: 0px;
    padding: 20px;
  }
  .fa-circle-check{
    color: #25BB00;
    font-size: 28px;
    vertical-align: middle;
    margin: 2px 10px 5px;
  }
}
.error {
  font-size: 14px;
  color: #f44336;
  font-weight: 500;
  padding: 7px;
  display: block;
}
.form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}

.form-check.form-switch {
  .form-check-input {
    width: 3em !important;
    height: 1.6em;
    margin-left: 15px;
  }
  label {
    margin-bottom: 0px;
    margin: 0px 10px;
  }
}
.form-switch .form-check-input {
  margin-left: 0;
}
.form-switch {
  padding-left: 0;
}

.edit-category{
  font-weight: 600;
  font-size: 18px;
  color: #1b212d;
  padding: 5px 0 15px;
  margin: 0px;
}
