.card-collect {
  background: #ffffff;
  border: 0.5px solid #f5f5f5;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.card-collect h3 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.colect-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
  padding-bottom: 15px;
  h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px solid #e9e9e9;
  }
}
.note {
  background-color: #f0f0f0;
  height: 120px;
  border-radius: 6px;
  margin: 5px 0px;
  overflow: hidden;
  p {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 10px;
  }
}

.amount{
  height: 45px;
  width: 50%;
}

